@font-face {
    font-family: 'yeFont';
    src: url('YungJakesNewHandwriting-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
.font-smaller {
    font-size: smaller;
}

.font-bigger {
    font-family: yeFont, serif;
    font-size: xxx-large;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}
.fontsizeDescription{
    color: white;
    font-size: smaller;
}
.reveal h1 {
    font-family: yeFont, serif;
    color: #20e851;
}

.reveal h2, .reveal h3, .reveal h4, .reveal h4, .reveal h5, .reveal h6, .reveal h6, #toctitle  {
    font-family: yeFont, serif;
    color: white;
}

.reveal p {
    color: white;
    font-weight: 800;
}