@font-face {
    font-family: 'yeFont';
    src: url('YungJakesNewHandwriting-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.reveal section img {
    border: 0;
    box-shadow: none;
}
.fontsizeDescription{
    font-size: smaller;
}
.reveal h1, .reveal h3, .reveal h4, .reveal h5, .reveal h6, #toctitle {
    color: #20e851;
    font-family: yeFont;
}

.reveal h2 {
    color: #1bcc47;
    font-family: yeFont;
}

.reveal p {
    color: #1ed04a;
    font-weight: 800;
}